::-webkit-scrollbar {
    width: 1em;
    height: 8px;
    background-color: #1e1e1e;
}

::-webkit-scrollbar-thumb {
    background-color: #ff6a006e;
    border-radius: 9em;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #FF6A00;
}