<section class="about-container">
  <h1>GitHub API інтеграція</h1>
  <p>Цей компонент дозволяє керувати постами з GitHub репозиторію.</p>

  <h2>Список постів:</h2>
  <ul >
    <li class="box" *ngFor="let post of postsService.posts$ | async" >
      <h3>{{ post.title }}</h3>
      <p><strong>Автор:</strong> {{ post.author }}</p>
      <p><strong>Дата:</strong> {{ post.date }}</p>
      <p>{{ post.content }}</p>
      <p><strong>Теги:</strong> {{ post.tags.join(', ') }}</p>
      <img [src]="post.image" alt="{{ post.title }}">
      <button (click)="editPost(post.id || '0')">Редагувати</button>
      <button (click)="deletePost(post.id || '0')">Видалити</button>
    </li>
  </ul>

  <h2>Дії:</h2>
  <button (click)="addPost()">Додати новий пост</button>
  <button (click)="savePosts()">Зберегти пости</button>
</section>

<p>
  <a [routerLink]="['/blog/1']">Перейти до блогу 1</a>
</p>
